.project {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--background);
  border-radius: 1px;
  overflow: hidden;
}

.project:hover {
  background-color: var(--background-muted);
}

.imageContainer {
  flex: 2;
}

.image {
  scale: 0.95;
  object-fit: contain;
  transition: scale 0.2s ease-in-out;
}

.project:hover img {
  scale: 1;
}

.descriptionContainer {
  flex: 3;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  color: var(--text);
}

.title {
  display: flex;
  justify-content: space-between;
}

.titleText {
  color: var(--white);
  transition: color 0.2s ease-in-out;
  font-weight: 500;
}

.project:hover .titleText {
  color: var(--yellow);
}

.description {
  margin: 1rem 0;
  line-height: 1.5rem;
}

.tags {
  display: flex;
  justify-self: flex-end;
  border-top: 1px solid var(--border);
  padding-top: 0.5rem;
}

.tag {
  border: 1px solid var(--border);
  padding: 0.2rem 0.4rem;
  margin: 0 0.2rem;
  font-size: 0.8rem;
}
