.hero {
  display: grid;
  grid-template-columns: 500px minmax(300px, 1fr);
  grid-template-rows: 3fr auto 2fr;
  width: 100%;
  padding-top: 4rem;
}

.aboutContainer {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 1rem 1rem;
}

.typewriter {
  display: flex;
  margin: 0 auto;
  font-size: 1.4rem;
}

.nameContainer {
  width: 100%;
  margin: 1rem 0.5rem 1rem 1.5rem;
}

h1 {
  color: var(--white);
  font-size: clamp(3.5rem, 5vw, 4.5rem);
  line-height: 6rem;
  font-weight: 500;
}

h1:last-child {
  color: var(--yellow);
}

.aboutText {
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--text-muted);
  line-height: 1.8rem;
}

.imageContainer {
  order: 2;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.socialContainer {
  order: 3;
  grid-column: 1 / -1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  padding: 1rem;
}

.socialContainer a {
  margin: 0 0.5rem;
}

.techContainer {
  order: 4;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
}

.scrollHint {
  margin: 1rem 0 0;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@media (max-width: 800px) {
  .hero {
    grid-template-columns: minmax(250px, 1fr);
    grid-template-rows: auto;
  }

  .nameContainer {
    margin: 1rem 0;
  }

  .aboutText {
    margin: 1rem 0;
  }

  .imageContainer {
    margin-top: 1rem;
    height: 40vh;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 0 0.5rem;
  }

  h1 {
    font-size: 13vw;
    line-height: 15vw;
  }

  .typewriter {
    font-size: 1.1rem;
  }

  .aboutText {
    font-size: 1.2rem;
  }
}
