.root {
  position: relative;
  width: 100%;
  aspect-ratio: 5/2;
  padding: 1rem;
}

/* Cloud */

.cloud {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  aspect-ratio: 5 / 2;
  border-radius: 10rem;
  transform: translateX(-50%) translateY(-25%);
  background: var(--white);
  box-shadow: 0.3rem 0.4rem var(--text-dark);
  z-index: 2;
}

.cloud:after,
.cloud:before {
  content: "";
  position: absolute;
  display: inline-block;
  background: inherit;
  border-radius: inherit;
  z-index: 2;
}

.cloud::after {
  width: 50%;
  aspect-ratio: 1/1;
  top: -60%;
  left: 40%;
}

.cloud::before {
  width: 30%;
  aspect-ratio: 1/1;
  top: -25%;
  left: 20%;
}

/* Sun */

.yellow {
  position: absolute;
  width: 20%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--yellow);
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition:
    top 2s ease-in-out,
    left 2s ease-in-out;
  z-index: 1;
}

.yellow.glow {
  animation: sunGlow 2s infinite;
}

.displayNone {
  display: none !important;
}

.showSun {
  top: 25%;
  left: 40%;
  animation: pulse 4s infinite;
}

@keyframes pulse {
  0% {
    background-color: rgb(255, 225, 0);
  }
  50% {
    background-color: rgb(255, 187, 0);
  }
  100% {
    background-color: rgb(255, 225, 0);
  }
}

@keyframes sunGlow {
  0% {
    opacity: 0.6;
    transform: translateX(-50%) translateY(-50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) scale(1.2);
  }
}
