.footer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 100%;
}

.gratitudesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}

.gratitude {
  padding: 1rem 2rem 1rem 0;
}

.gratitudeTitle {
  color: var(--yellow);
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.gratitudeText {
  line-height: 1.5rem;
}

.lastContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  margin: 3rem 0 0;
}

.cloudContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 10rem;
}

.socialContainer {
  flex: 1;
  display: flex;
  min-width: 400px;
  min-height: 10rem;
}
