.footer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 100%;
}

.gratitudesContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.gratitude {
  padding: 1rem 2rem 1rem 0;
}

.gratitudeTitle {
  color: var(--yellow);
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.gratitudeText {
  line-height: 1.5rem;
}

.extraContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  margin: 3rem 0 0;
}

.cloudContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 10rem;
}

.thanksContainer {
  display: flex;
  flex-direction: column;
}

.thanksTitle {
  font-size: 0.9rem;
  margin: 1rem 0;
}

.thanksText {
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

.socialContainer {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  border-top: 1px solid var(--border);
  padding: 1rem 1rem;
  font-size: 0.9rem;
}

.socialLinks {
  display: flex;
  justify-content: space-around;
}

.copyrights {
  justify-self: end;
  font-family: var(--mono);
  color: var(--text-dark);
}

@media (max-width: 700px) {
  .gratitudesContainer {
    grid-template-columns: 1fr;
  }

  .socialContainer {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .copyrights {
    justify-self: center;
  }
}
