/* Variables */

:root {
  --mono: "DM Mono", monospace;
  --outfit: "Outfit", sans-serif;

  --background: #0c0c0c;
  --background-muted: #101010;
  --text: #555555;
  --text-muted: #888888;
  --text-dark: #333333;
  --border: #1e1e1e;
  --white: #f0f0f0;
  --yellow: #d4ff00;
}

/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

#wrapper {
  background-color: var(--background);
  font-family: var(--mono);
  color: var(--text);
}

main {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 4rem;
}

p {
  font-family: var(--outfit);
}

a {
  text-decoration: none;
  color: var(--text);
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--yellow);
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--mono);
}
