@import "tailwindcss";

:root {
    --mono: "JetBrains Mono", monospace;
    background-color: #1e1f2b; /* move it here, inside :root */
}

html {
    scroll-behavior: smooth;
}

@layer base {
    h1 {
        font-size: 2.25rem;
        font-weight: 700;
        line-height: 1.2;
    }

    h2 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.2;
    }
}

@theme {
    --color-dark: #13141a;
    --color-dark-mid: #1e1f2b;
    --color-dark-light: #252636;
    --color-darker: #0d0e12;
    --color-light: #f5f3ff;

    --color-text-primary: #f0f0f8;
    --color-text-muted: #eeedf8;
    --color-text-soft: #d1d5db;
    --color-text-on-light: #1e1f2b;

    --color-accent: #a78bfa;
    --color-accent-mid: #818cf8;
    --color-accent-light: #c4b5fd;
    --color-accent-dark: #7c3aed;
}