/* Variables */

:root {
  --mono: "DM Mono", monospace;
  --outfit: "Outfit", sans-serif;

  --background: #0c0c0c;
  --text: #555555;
  --text-muted: #888888;
  --text-dark: #333333;
  --white: #f0f0f0;
  --yellow: #d4ff00;
}

/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#wrapper {
  background-color: var(--background);
  font-family: var(--mono);
  color: var(--text);
}

p {
  font-family: var(--outfit);
}

a {
  text-decoration: none;
  color: var(--text);
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--yellow);
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--mono);
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
}

h4 {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.5;
}
